@use "sass:map";

// ================================================
// Base: 変数、Mixin、基本的なスタイル
// ================================================

// Google Fonts
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap";

/*! 変数設定 */
$main-color: #f3f3f3;
$sub-color: #333;
$accent-color: #e02121;
$accent-color-secondary: #5b6ff3a5;
$font-family: "Shippori Mincho", "Noto Sans JP", "Noto Serif JP", "游明朝", serif, "Material Icons";
$font-size: 16px;
$line-height: 1.5;
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width : 768px) and (max-width: 1023px)",
  pc: "screen and (min-width: 1024px)"
);

/*! Mixin設定 */
@mixin media($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin hidden_animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// tab,sp共通部分
@mixin header_common {
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  height: 0;
  background-color: var(--main-color);
  transition: height 0.8s ease;
  transition-delay: 1.5s;
}

// tab,sp共通部分
@mixin navBox_common {
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

// tab,sp共通部分
@mixin navItem_common {
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.8s ease;
}

// ==================================================================
// ハンバーガーメニュ-
// ==================================================================
@mixin humberger-common {
  position: relative;
  display: block;
  grid-template-columns: repeat(2, 1fr);
  width: 2em;
  height: 20px;
  margin-right: 1em;
  cursor: pointer;
}

/*! 定数設定 (CSSカスタムプロパティ) */
:root {
  --font-size: #{$font-size};
  --line-height: #{$line-height};
  --font-family: #{$font-family};
  --main-color: #{$main-color};
  --sub-color: #{$sub-color};
  --accent-color: #{$accent-color};
  --accent-color-secondary: #{$accent-color-secondary};
}

/*! 基本スタイル */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

a {
  display: inline-block;
  color: var(--sub-color);
  text-decoration: none;

  &:visited {
    color: var(--sub-color);
  }
}

/*! ユーティリティ */
.no-scroll {
  overflow: hidden;
}
