@use "base" as b;

// ================================================
// Components: ボタン、フォーム、カードなど
// ================================================

.more_link {
  margin: 1.5em 0;
  text-align: right;
}

a.more_btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: var(--sub-color);
  text-align: right;
  background-color: var(--accent-color);
  border: solid 1px var(--sub-color);
  transition: all 0.3s ease;

  &:hover {
    color: var(--accent-color);
    cursor: pointer;
    background-color: var(--main-color);
  }
}

.ttl_box {
  margin-bottom: 1.5em;
  text-align: center;

  .section_ttl {
    margin: 1em 0;
    font-size: 3em;
    font-weight: bold;

    @include b.media(sp) {
      font-size: 2em;
    }

    .section_txt {
      width: 90%;
      font-size: 1.2em;

      @include b.media(sp) {
        font-size: 1em;
      }
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 3rem;
  text-align: center;

  @include b.media(sp) {
    gap: 0.5em;
  }
}

.card_box {
  display: flex;
  flex-basis: 23%;
  flex-direction: column;
  overflow: hidden;
  border: solid 1px var(--accent-color);
  border-radius: 40px;

  @include b.hidden_animation;

  @include b.media(sp) {
    flex-basis: 48%;
  }

  .card_ttl {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--sub-color);
  }

  .card_img_box {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .card_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);

    .card_img {
      transform: scale(1.1);
    }
  }
}
