// ==================================================================
// 共通部分を使えるように設定
// ==================================================================
@use "base" as b;

// ================================================
// Components: 共通スタイル(クラスベース)
// ================================================

// ボタン
.c-btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-align: center;
  border: 1px solid transparent; // デフォルトで透過
  border-radius: 4px;
  transition: 0.5s ease;

  &--primary {
    color: var(--color-primary);
    background-color: var(--color-accent-primary);

    &:hover {
      color: var(--color-accent-primary);
      background-color: var(--color-primary);
      border-color: var(--color-accent-primary);
    }
  }

  &--secondary {
    color: var(--color-secondary);
    background-color: var(--color-accent-secondary);

    &:hover {
      color: var(--color-accent-secondary);
      background-color: var(--color-secondary);
      border-color: var(--color-accent-secondary);
    }
  }

  &--more {
    // more_btnを統合
    color: var(--color-secondary);
    background-color: var(--color-accent-primary);
    border: solid 1px var(--color-secondary);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-accent-primary);
      cursor: pointer;
      background-color: var(--color-primary);
    }
  }
}

// Form
.c-form {
  &__group {
    position: relative;
    margin-bottom: 1.5em; // 間隔を調整
    vertical-align: middle;
  }

  &__label {
    position: absolute;
    top: 0.8em;
    left: 0.9em;
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-accent-primary);
    pointer-events: none; // ラベルの下のinputにイベントが伝わるように
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: color, top;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1rem; // フォントサイズを統一
    border: 1px solid var(--color-accent-primary); // デフォルトのボーダー色
    border-radius: 5px;
    transition: border-color 0.5s ease;

    &::placeholder {
      color: transparent; // ラベルを優先するため
    }

    &:focus {
      outline: none;
      border-color: var(--color-secondary) !important;
    }

    &:not(:placeholder-shown) {
      border-color: var(--color-secondary);
    }
  }

  // フォーカス時や入力済みのラベルスタイル
  &__group:has(&__input:focus) &__label,
  &__group:has(&__input:not(:placeholder-shown)) &__label,
  &__group:has(&__textarea:focus) &__label,
  &__group:has(&__textarea:not(:placeholder-shown)) &__label {
    top: -1.5em;
    color: var(--color-secondary);
  }

  &__submit-btn {
    padding: 0.5em 1em;
    margin: 0 1em;
    color: var(--color-accent-primary);
    border: 1px solid var(--color-accent-primary);
    border-radius: 5px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: color, background-color, border-color;

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-accent-primary);
    }
  }
}

// ハンバーガーメニューアイコン
.c-hamburger {
  position: relative;
  display: none; // PCでは非表示
  grid-template-columns: repeat(2, 1fr);
  width: 2em;
  height: 20px;
  margin-right: 1em;
  cursor: pointer;

  @include b.mq(mobile) {
    // mobile (spとtab) で表示
    display: block;
    padding-top: 0.5em;
  }

  &__bar {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent-primary);
    transition: all 0.5s ease;

    &:first-child {
      top: 0;
      right: 1em;
    }

    &:nth-child(2) {
      top: 45%;
      right: 1em;
    }

    &:last-child {
      right: 1em;
      bottom: 0;
    }
  }

  // openクラスが付与された時のスタイル
  .is-open & {
    z-index: 1; // navよりも手前に

    .c-hamburger__bar {
      &:first-child {
        top: 50%;
        transform: rotate(-225deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        top: 50%;
        transform: rotate(225deg);
      }
    }
  }
}

// カードスタイル
.c-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  border: solid 1px var(--color-accent-primary);
  border-radius: 40px;

  @include b.fade-in-animation;

  @include b.mq(sp) {
    flex-basis: 48%; // SPでのカード幅
  }

  &__title {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  &__img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);

    .c-card__img {
      transform: scale(1.2);
    }
  }

  &__content {
    margin: 0.5em;
  }
}
