@use "base" as b;

.wrapper {
  width: 90%;
  max-width: 1440px;
}

section:not(.mv) {
  padding: 1.5em 0;
  margin-top: 3em;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 2em 0 1em;

  // backdrop-filter: blur(5px);
  translate: -50% 0;

  @include b.media(tab) {
    grid-template-columns: 1fr auto;
    gap: 0;
    padding: 0.5em 0;
  }

  @include b.media(sp) {
    gap: 0;
    padding: 0.5em 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 100dvw;
    height: 100%;
    content: "";
    background-color: rgba($color: #fff, $alpha: 60%);
    backdrop-filter: blur(5px);
    translate: -50% 0;
  }

  .header_logo {
    margin-left: 1em;
  }
}

.header_nav {
  grid-area: 1 / 2 / 3 / 3;

  @include b.media(mobile) {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
    height: 0;
    background-color: var(--main-color);
    transition: height 0.8s ease;
    transition-delay: 1.5s;
  }
}

.nav_box {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  transition: 0.5s;

  @include b.media(mobile) {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
  }
}

.nav_item {
  display: inline-block;
  padding: 0.5em;
  text-align: center;

  @include b.media(mobile) {
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.8s ease;
  }

  &::after {
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: transparent;
    transform: scale(0, 1);
    transition: 0.5s ease;
  }

  &:hover::after {
    background-color: var(--main-color);
    transform: scale(1, 1);
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition-delay: 1.5s - $i * 0.2s;
    }
  }
}

.humberger {
  display: none;

  @include b.media(sp) {
    & {
      padding-top: 0.5em;

      @include %humberger-common;
    }
  }

  @include b.media(tab) {
    @include %humberger-common;
  }
}

// ==================================================================
// footer
// ==================================================================

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 3em;
  text-align: center;
  background-color: var(--accent-color-secondary);

  .footer_contact {
    margin-top: 1.5em;
  }
}
